*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, 
body {
    height: 100%;
    width: 100%;
    place-items: center;
    background-color: #8ec5fc;
    background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

::selection {
    background: #1a75ff;
    color: #fff;
}

.navbar img {
    height: 30px;
    margin-right: 10px;
}

.container img {
    height: 100px;
    margin-left: 45%;
}

.balance-container {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 20px;
    align-items: start;
    width: 40%;
    height: 30%;
}

.balance-container,
#transactionList {
    margin: 20px;
    width: 30%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.balance-amount {
    display: flex;
    align-items: center;
    justify-content: center;
}

#transactionList {
    background-color: lightgray;
    border: 1px solid black;
    border-radius: 25px;
    margin-bottom: 20px;
    align-items: start;
    width: 50%;
}

.balance-input {
    width: 100px;
}

.income {
    background-color: lightgreen;
}

.outcome {
    background-color: lightcoral;
}

.row-md-3 {
    flex-direction: column;
    align-items: center;
    background: grey;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    width: 340px;
    height: 220px;
    margin: 12px;
}

.row-md-3 img {
    width: 150px;
    height: 150px;
    margin-left: 75px;
}
.row-md-3 p {
    position: absolute;
    padding: auto;
}

.row-md-4 {
    flex-direction: column;
    align-items: center;
    background: grey;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    width: 340px;
    height: 220px;
    margin: 15px;
}

.row-md-4 img {
    width: 150px;
    height: 150px;
    margin-left: 80px;
}
.row-md-4 p {
    position: relative;
    text-align: center;
}

.row-md-5 {
    flex-direction: column;
    align-items: center;
    background: grey;
    border: 1px solid grey;
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
    width: 340px;
    height: 220px;
    margin: 15px;
}

.row-md-5 img {
    width: 150px;
    height: 150px;
    margin-left: 80px;
}
.row-md-5 p {
    position: relative;
    text-align: center;
}

.income {
    background-color: lightgreen;
}

.outcome {
    background-color: lightcoral;
}